/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Dec-2021, 15:22:56
    Author     : Shayaan Saleem
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: url(images/pexels-skylar-kang-6368908.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
} 
   
nav {
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center; 
    background-color: black; 
   
}
nav img{
    width: 190px;
}

.nav-r{
    flex: 1;
    text-align: right;
}
.nav-r ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-r ul li a{
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    padding: 19px;
    color: white;
    font-weight: bold;
    font-family: poppins;
 
  
}
.nav-r ul li a:hover{
     background: grey;
     color: white;
     transition: .6s;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 90px;
     color: black;
     text-shadow: 1px 1px 2px #BEBEBE;
     font-weight: 300;
}
.text-box p{
    margin: 60px 0 0px;
    font-size: 20px;
     color: white;
     text-shadow: 2px 2px 4px #000000;
  
}

.infoplace1{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 15px;
    background: black;
    cursor: pointer;
    
}


@media(max-width:700px){
    .text-box h1{
        font-size: 55px;
    }
   
    
    .row {
       flex-direction: column; 
    }
 
    
    .footer{
        height: 888px ;
         justify-content:flex-start ;
    }
    .footer-container{
        flex-direction: column; 
    }
    .placeHol{
       padding-bottom: 40px;
       
    }
    .header img {
        width: 150px;
        height: 80px;
    }
    .sub-header nav img {
       width: 150px;
        height: 80px; 
    }
    
     
}

.TeamsL{
 width: 80%;
 margin: auto;
 text-align: center;
 padding-top: 100px;
}
.TeamsL p{
  font-size: 20px;  
  text-shadow: 1px 1px 2px #BEBEBE;
}
.TeamsL h1{
    font-size: 36px;
    font-weight: 600;
}
p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;  

}
.row{
    font-size: 30px;
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
TeamsL-col{
    flex-basis: 30%;
    border-radius: 10px;   
    margin-bottom: 5%;
    padding: 200px;
    box-sizing: border-box;
  
}


h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
}
.TeamsL-col img {
    flex-basis: 32%;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
    width: 90%;
 
}
 

.BottomI{
    position: relative;
    height: 100px;
    width: 300px;
}

.bottmI img {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer-container{
    background-color: black;
    padding: 52px 0 64px 0 ;
    
}
.footer {
    width: 100%;
    height: 350px;
    background-color: black;
    color: grey;
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: absolute;
}

@media (max-width:600px) {
    .footer-2 {
        text-align: center;
        
    }
    .footer-1 {
      text-align: center;  
    }
    .footer {
     height: 650px;  
    }
    .footer-3 img {
        width: 250px;
        height: 120px;
        
    }
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}
.footer-heading h2 {
 
  margin-bottom: 32px;
   
}
.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    
}


.footercopy p{
 color: white;
 font-size: 20px;
 padding-top: 35px;
 
}


/*------about page------*/

.sub-header{
   height:  370px;
   width: 100%;
   background-image: url(images/pexels-skylar-kang-6368908.jpg);
   background-position: center;
   background-size: cover;
   text-align: center;
   color: black;
   
}

.sub-header h1{
     color: black;
   text-shadow: 1px 1px 2px #BEBEBE;
   font-weight: 400;
    font-size: 80px;
    margin-top: 10px;
    padding: 50px;
}
@media (max-width:600px) {
    .sub-header h1{
         font-size: 55px; 
    } 
   
   
    
}
.about-us {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
}
.about-col{
    flex-basis: 88%;
    padding: 5px 2px;
}
.about-col img{
    width: 85%;
    border-radius: 20px;
}
.about-col h1 {
    padding-top: 5px;
    
}
.about-col p{
    padding: 15px 0 5px;
}
.about-col2 {
    padding: 35px 2px;
    flex-basis: 45%;
}
.about-col2 img{
   width: 80%;
   border-radius: 50px;
   margin-top: 20px;
   
}
.about-col2 h3{
    margin-right: 90px;
    margin-top: 10px;
}
.about-col2 p{
    padding: 15px 0 5px;
  
}





/*------Contact page------*/

.Loc {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.Loc iframe {
    width: 100%;
    
}
.contact-us {
    width: 100%;
    margin: auto; 
}
.placeHol{
   
    margin-bottom: 30px;
    align-items: center;
     padding-top: 40px;
}
.placeHol input{
    width: 60%;
    padding: 20px;
    margin-bottom:16px;
    outline: none;
    border: 1px solid black;
  margin-left: 360px;
   display: flex;
   box-sizing: border-box;
   border-radius: 40px;
   
}
.placeHol textarea {
   width: 60%;
    padding: 20px;
    margin-bottom:16px;
    outline: none;
    border: 1px solid black; 
   align-items: center;
 margin-left: 360px;
  box-sizing: border-box;
    border-radius: 40px; 
}

@media (max-width:600px){
    .placeHol textarea {
       width: 60%;
    padding: 20px;
    margin-bottom:16px;
    outline: none;
    border: 1px solid black; 
   align-items: center;
 margin-left: 60px;
  box-sizing: border-box; 
    border-radius: 40px;
    }
    .placeHol input{
    width: 60%;
    padding: 20px;
    margin-bottom:8px;
    outline: none;
    border: 1px solid black;
  margin-left: 60px;
   display: flex;
   box-sizing: border-box;
   border-radius: 40px;
   
}
.about-col h1{
    font-size: 35px;
}
.about-col2 h1{
    font-size: 35px;
}
.about-col {
    width: 300px;
   
}
    
}
 
